<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tabla</title>
  </head>
  <body>
    <h1><%= titulo1 %></h1>
    <%- include('./parrafo.ejs')  %>
  </body>
</html>
